<div class="projects">
    <div class="title">
        projects
    </div>
    <div class="teams">
        <div class="sub-title">Teams</div>
    </div>
    <div class="projects-list">
        <div class="sub-title">projects</div>
        <ul>
            <li>all projects(3)</li>
            <li class="active">design system</li>
            <li>user flow</li>
            <li>UX Research</li>
        </ul>
    </div>
    <div class="tasks">
        <div class="sub-title">Tasks</div>
        <ul>
            <li>All</li>
            <li>Todo(5)</li>
            <li class="active">in progress(4)</li>
            <li>completed(3)</li>
            <li><a routerLink="calendar">calendar</a></li>
        </ul>
    </div>
</div>

