<aside class="left-sidebar">
    <div class="logo">
        <div class="logo"></div>
    </div>

    <ul>
        <li class="li active">
            <div class="icon">
                <div class="dashboard-icon"></div>
            </div>
        </li>
        <li class="li">
            <div class="icon">
                <div class="user-icon"></div>
            </div>
        </li>
        <li class="li ">
            <div class="icon">
                <div class="calendar-icon"></div>
            </div>
        </li>
        <li class="li">
            <div class="icon">
                <div class="stats-icon"></div>
            </div>
        </li>
        <li class="li ">
            <div class="icon">
                <div class="upload-icon"></div>
            </div>
        </li>
        <li class="li ">
            <div class="icon">
                <div class="filter-icon"></div>
            </div>
        </li>
    </ul>
    <ng-theme-switcher></ng-theme-switcher>

</aside>